.kvadrat-container {
  padding: var(--space-s-m);
  display: grid;
  place-items: center;
}

.left, .bottom {
  display: block;
  background-color: var(--color-dark);
  aspect-ratio: 1;
  padding: var(--space-2xs);
  line-height: 1;
}

.left {
  position: absolute;
  left: -1.5ch;
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  position: absolute;
  bottom: -1.5ch;
  left: 50%;
  transform: translateX(-50%);
}

.kvadrat {
  position: relative;
  border: 4px solid #646cff;
  width: 30vw;
  height: auto;
  aspect-ratio: 1;
}